@model studentregister
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<form method="post">
    <div class=" border p-3 m-4">
        <div class="row pb-3">
            <h2 class="text-primary">students</h2>
            <hr />
        </div>
        <div class="row mb-3">
            <label asp-for="student_name"></label>
            <input asp-for="student_name" class="form-control" />
            
        </div>
        <div class="row mb-3">
            <label asp-for="student_email"></label>
            <input asp-for="student_email" class="form-control" />
        </div>
        <div class="row mb-3">
            <label asp-for="student_branch"></label>
            <input asp-for="student_branch" class="form-control" />
        </div> <div class="row mb-3">
            <label asp-for="student_division"></label>
            <input asp-for="student_division" class="form-control" />
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
    <a asp-action="Index" asp-controller="studentregister">Back to register </a>
</form>

